body {
    background-color: rgba(240, 128, 128, 0.774);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.btn {
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 10px;
    color: lightcoral;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.btn:hover {
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}

