body {
    background-color: #e1bc91;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 800px;
    background-color: #c19277;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.block {
    background-color: #e1bc91;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
}

.--un{
    left: -150px;
    top: -150px;
}

.--deux {
    left: -150px;
    bottom: -150px;
}

.--trois {
    right: -150px;
    top: -150px;
}

.--quatre {
    right: -150px;
    bottom: -150px;
}

.--cinq {
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

